body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.well h2 {
    font-size: 1.2em;
}

.well h3 {
    font-size: 1.1em;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}

/* Hack to get around the menubar having position: fixed; */
h1[id]:before, h2[id]:before, h3[id]:before {
    content: "";
    display: block;
    height: 60px;
    margin: -60px 0 0;
}

.navbar {
    transform: none;
}

dt {
    padding: 0 0 0 16px;
}

dt:after {
    content: ':';
}

dd {
    margin: 0px 0px 10px;
    padding: 0 0 0 40px;
}

table, td, th {
    border: 1px solid black;
}

th, td {
	padding: 3px 7px 3px 7px;
}
